* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: #05500a;
  border-radius: 10px;
}

label,
input[type=text] {
  display: block;
}

header {
  max-width: 700px;
  margin: 0 auto 25px;
  text-align: center;
  padding: 30px;
  font-size: .8rem;
}

form {
  padding: 30px;
}

.form-group {
  margin: 20px 0;
  font-size: 1rem;
}

.form-group p {
  margin: 5px 0;
}

input[type=text],
input[type=email],
input[type=number],
select {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  background: white;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  background: white;
  font-family: inherit;
}

#submit {
  width: 100%;
  height: 50px;
  background: #3a9f45;
  border: none;
  border-radius: 5px;
  color: white;
}

#submit:hover {
  background: #3a8015;
}





